<header class="site-header sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container d-flex flex-md-row justify-content-between">
      <a class="navbar-brand" routerLink="/">basicLogin</a>
      <button
        class="navbar-toggler"
        (click)="toggleNavbar()"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        [class.show]="isOpen"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="py-2 nav-link d-md-inline-block"
              routerLink="/"
              [routerLinkActive]="'active-link'"
            >
              <fa-icon [icon]="faHouse"></fa-icon>
              Ana sayfa
            </a>
          </li>
          <li class="nav-item">
            <a
              class="py-2 nav-link d-md-inline-block"
              routerLink="/product-add"
              [routerLinkActive]="'active-link'"
            >
              <fa-icon [icon]="faPlus"></fa-icon>
              Ürün Ekle
            </a>
          </li>
          <li class="nav-item">
            <a
              class="py-2 nav-link d-md-inline-block"
              routerLink="/login"
              [routerLinkActive]="'active-link'"
              *ngIf="isLoggedIn() == false"
            >
              <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
              Giriş Yap
            </a>
            <button
              *ngIf="isLoggedIn() == true"
              (click)="logOut()"
              class="py-2 nav-link d-md-inline-block"
            >
              <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
              Çıkış Yap
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
